body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0px;
  overflow: hidden;
  background-image: url("https://tse4.mm.bing.net/th?id=OIP.a1lLEdAAL7wJgKCt5ga80QHaEK&pid=Api&P=0&h=180");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  user-select: none;
}

h1 {
  text-align: center;
}

.kanban {
  background: linear-gradient(to top, red, yellow);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.cont {
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent wrapping of columns */
  padding: 20px;
}

.column {
  margin: 8px;
  border: 1px solid red;
  border-radius: 4px;
  width: 300px;
  max-height: 80vh;
  background-image: url("https://wallpapercave.com/wp/wp11410778.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: red;
  font-size: large;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
  box-shadow: rgba(253, 253, 253, 0.35) 0px 5px 15px;
  white-space: normal;
}

.column h3 {
  text-align: center;
  padding: 10px 0;
}

.task {
  padding: 10px;
  margin: 5px;
  border: 1px solid lightgray;
  border-radius: 4px;
  color: black;
  background-color: #d1d1d1;
  transition: background-color 0.3s;
  cursor: grab;
}

.task:hover {
  background-color: #dce5d1;
}

.add-task {
  padding: 10px;
  margin-top: 20px;
}

.add-task button {
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  background-color: #5cb85c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-task button:hover {
  background-color: #4cae4c;
}

/* src/components/Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-overlay2 {
  position: absolute;
  right: 10px;
  top: 130px;
  z-index: 2;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.7);
}

.modal-overlay3 {
  position: absolute;
  right: 25px;
  top: 100px;
  z-index: 2;
  border-radius: 15px;
  /* background-color: black; */
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  text-align: center;
}

.board-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}

.column-wrapper {
  flex: 1 1 300px;
  max-width: 100%;
  box-sizing: border-box;
}

.slide{
  height: 100vh;
  width: 20vw;
  top: 50px;
  right: 0px;
  position: absolute;
  background-color: rgba(91, 91, 91, 0.7);
  border-top-left-radius: 20px;
  font-family: 'Times New Roman', Times, serif;
}


/* Media Query */
@media (max-width: 768px) {

  body{
    background-color: black;
  }

  .column{
    width: 250px;
  }

  .add-task{
    width: 250px;

    button{
      font-size: smaller;
    }
  }

  .add-btn .btn1{
    position: absolute;
    top: 50px;
    right: 10px;
  }

  .column{
    width: 250px;
  }

  .slide{
    width: 60vw;
  }

  .addBtn{
    font-size: smaller;
  }

  .modal-overlay3{
    position: absolute;
    right: 0px;
  }

}

@media (min-width: 768px) {
  .add-task{
    width: 300px;
  }
}